# LiveDisplay
hal_client_domain(system_app, hal_lineage_livedisplay)

# Allow SetupWizard to set recovery update prop
#set_prop(system_app, recovery_update_prop)
