# For the updaters
allow system_app cache_recovery_file:dir {add_name rw_file_perms};
allow system_app cache_recovery_file:file {create rw_file_perms};

# LiveDisplay
hal_client_domain(system_app, hal_lineage_livedisplay)

# Allow Settings to set legacy wfd videomode prop
set_prop(system_app, wfd_legacy_video_mode_prop);

# Allow SmartCharge HAL service to be found
hal_client_domain(system_app, hal_syberia_smartcharge)

# Allow SetupWizard to set recovery update prop
#set_prop(system_app, recovery_update_prop)

# Read selinux status
allow system_app selinuxfs:file r_file_perms;

set_prop(system_app, powerusage_provider_prop);
