# HWBinder IPC from client to server
binder_call(hal_syberia_smartcharge_client, hal_syberia_smartcharge_server)

add_hwservice(hal_syberia_smartcharge_server, hal_syberia_smartcharge_hwservice)
allow hal_syberia_smartcharge_client hal_syberia_smartcharge_hwservice:hwservice_manager find;

# Allow binder communication with platform_app
binder_call(hal_syberia_smartcharge, platform_app)

# Allow smartcharge to write charge control sysfs node
allow hal_syberia_smartcharge sysfs_battery_supply:dir r_dir_perms;
allow hal_syberia_smartcharge sysfs_battery_supply:file rw_file_perms;
